
<div class="container-fluid footer-container">
    <div class="col-xs-12 footer-heading">
        <b>my online presence</b>
    </div>
    <div class="col-xs-12 footer">
        <a title="Facebook" class="footer-icon" href="https://facebook.com/darcycox97/" target="_blank">
            <i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i>
        </a>
        <a title="GitHub" class="footer-icon" href="https://github.com/darcycox97/" target="_blank">
            <i class="fa fa-github fa-lg" aria-hidden="true"></i>
        </a>
        <a title="YouTube" class="footer-icon" href="https://www.youtube.com/user/97darcman" target="_blank">
            <i class="fa fa-youtube fa-lg" aria-hidden="true"></i>
        </a>
        <a title="Email" class="footer-icon" href="mailto:darcycox97@gmail.com">
            <i class="fa fa-envelope fa-lg" aria-hidden="true"></i>
        </a>
        <a title="Spotify" class="footer-icon" href="spotify:user:darcycox97">
            <i class="fa fa-spotify fa-lg" aria-hidden="true"></i>
        </a>
        <a title="Instagram" class="footer-icon" href="https://instagram.com/darcycox97" target="_blank">
            <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
        </a>
        <a title="LinkedIn" class="footer-icon" href="https://www.linkedin.com/in/darcy-cox-88b716154" target="_blank">
            <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
        </a>
        <a title="Last Fm" class="footer-icon" href="https://last.fm/user/darcycox97" target="_blank">
            <i class="fa fa-lastfm fa-lg" aria-hidden="true"></i>
        </a>
    </div>
</div>

<!-- script that loads tool tips -->
<script>
    tippy('.footer-icon',
    {
        placement:'top',
        arrow:'true',
        theme:'darcy',
        animation:'scale'
    });
</script>
