body { margin:0; font-family: sans-serif;}

.section {
    border-bottom: 1px solid black;
    padding: 70px 100px 70px 100px;
    overflow: hidden;
}

.section h1 {
    text-align: center;
}

.section-centered {
    max-width:600px;
    margin:auto;
}


/****** Navbar ******/

.navbar {
    text-align: center;
    padding:0;
    margin:0;
    width:100%;
    overflow:hidden;
    background-color: #B7B7B7;
    color:black;
    position: fixed;
    top:0;
    z-index: 1;
}

.nav-item {
    float: left;
    padding:15px 20px 15px 20px;
    background-color: inherit;
    color: inherit;
    text-decoration: none;
    text-align: center;
}

.nav-item:hover {
    background-color: #D17321;
}


/****** About Me ******/

.about-section > img {
    max-width: 200px;
    max-height: 200px;
    float:left;
    border-radius: 200px;
}

.about-section p {
    float:left;
    margin-left: 40px;
    position: relative;
    top: 50px;
}