html, body { margin:0; padding:0; font-family: 'Open Sans', sans-serif; height: 100%;}

#wrapper {
    min-height: 100%;
    position: relative;
}

#main-content {
    padding-bottom: 75px; /* Must be same height as footer! */
}

#background-img {
    z-index: -1;
    position: fixed;
    width:auto;
    height: 100%;
}

.inline-link {
    text-decoration: none;
    color: #8B228E;
}

.inline-link:hover {
    text-decoration: underline;
}


/***** Header *****/

.full-page-header {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.full-page-header .heading {
    font-size: 40px;
    text-align: center;
    position:relative;
    top:27%;
    left:45%;
    background-color: #E4E4E4;
    width:50%;
    height: 45%;
    padding-top: 5%;
    opacity: 0.6;
}

/****** General Section Style *******/

.section {
    border-top: 1px solid #EDEDED;
    background-color: white;
    padding: 70px 100px 90px 100px;
    overflow: hidden;
}

.section-centered {
    max-width:800px;
    margin:auto;
}

.section-heading, .back-to-top {
    text-align: center;
}


/****** Navbar ******/

.navbar {
    text-align: center;
    padding:0;
    margin:0;
    width:100%;
    overflow:hidden;
    background-color: #2C848C;
    color:white;
    position: fixed;
    top:0;
    z-index: 2;
    font-size: 16px;
}

.navbar .nav-item {
    float: left;
    padding:15px 20px 15px 20px;
    background-color: inherit;
    color: inherit;
    text-decoration: none;
    text-align: center;
}



.navbar .nav-item:hover, .navbar .active-nav-item {
    background-color: #226970;
}


/****** About Me ******/

#img-profile {
    max-width: 200px;
    max-height: 200px;
    float:left;
    border-radius: 200px;
    margin-right: 50px;
}

#about-me-info {
    position: relative;
    top: 26px;
}


/****** Footer ********/

.footer {
    color: white;
    background-color: black;
    text-align: center;
    width:100%;
    height: 75px;
    border-top: 1px solid black;
    position:absolute;
	bottom:0;
	left:0;
}


.footer-icon {
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: inherit;
}

.footer-icon:hover {
    opacity:0.7;
}

.footer-heading {
    padding-top:10px;
    padding-bottom: 10px;
}

/****** Piano Page *******/

#subscribe-button {
    position: fixed;
    right: 10px;
    top:60px;
    z-index: 2;
}

#subscribe-button * {
    padding:0;
    margin:0;
    text-align: center;
}

.video-container {
    text-align:center;
}

.video {
    width:640px;
    height: 360px;
}

#playlist {
    display: block;
    float:right;
    position: relative;
    top:15px;
}

.back-to-top {
    text-align: center;
    color: black;
}

.back-to-top:hover {
    opacity: 0.7;
}

.contents-item {
    list-style-type: none;
}


